{% extends "base.html.twig" %}

{% block title %}Update Product{% endblock %}

{% block body %}
<div class="container-fluid mt-3">
      <h2 class="text-center mt-5">UPDATE PRODUCT</h2>
      <div class="col-md-6"></div>
          {{ form_start (form) }}
              <div class="form-group">
                  {{ form_label (form.Name) }}
                  {{ form_widget (form.Name, {'attr': {'class' : 'form-control'}}) }}
              </div>
              <div class="form-group">
                  {{ form_label (form.Size) }}
                  {{ form_widget (form.Size, {'attr': {'class' : 'form-control'}}) }}
              </div>
              <div class="form-group">
                {{ form_label (form.Category) }}
                {{ form_widget (form.Category, {'attr': {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label (form.Description) }}
                {{ form_widget (form.Description, {'attr': {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label (form.Price) }}
                {{ form_widget (form.Price, {'attr': {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label (form.MadeIn) }}
                {{ form_widget (form.MadeIn, {'attr': {'class' : 'form-control'}}) }}
            </div>
              <div class="form-group">
                  <p class="text-info text-bold">  Image </p>
                  {{ form_widget (form.Image, {'attr': {'class' : 'form-control'}}) }}
              </div>
              <div class="form-group text-center mt-3">
                  <button class="btn btn-primary btn-lg">UPDATE</button>
              </div>
          {{ form_end (form)}}
  </div>   

{% endblock %}